@model IEnumerable<website.Models.recipes>

@{
    ViewBag.Title = "Ara";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:darkred">Aradığınız İçerikteki Sonuçlar</h3>
<div class="col-md-8">

</div>
<table class="table">

@foreach (var item in Model) {
    <tr rowspan="3">
        <td>
            <a href="~/recipes/Details?id=@item.id">
                <img class="img-thumbnail img-fluid" width="150px;" src="~/Content/img/@item.image" />
                </a>
        </td>
        <td>
            <a href="~/recipes/Details?id=@item.id">
                @Html.DisplayFor(modelItem => item.name)
            </a><br />
                <a href="~/users/Details?id=@item.user_id">
                    @Html.DisplayFor(modelItem => item.users.name_sname)<br /></a>
                    @Html.DisplayFor(modelItem => item.comments.Count) yorum<br />
                    @*@Html.Partial("_VoteShow", item.Vote)*@ 

</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
}

</table>
